<ion-view title= "Dashboard" cache-view="false">

    <ion-nav-buttons side="right">
        <button class="button button-icon dark icon ion-ios-search" ng-click="searchPopover.show($event)"></button>
    </ion-nav-buttons>

    <ion-content class="has-header" scroll="false">

        <ion-scroll direction="x" style="width:auto" class= "bb bb-grey">
            <div class="row no-padding bb-grey text-center" style="width:300px">
     
                <div class="col font-thin" ng-click="goTo('tabs.dashboard')">Overview</div>
                <div class="col font-thin  text-large balanced bb" ng-click="goTo('tabs.reminders')">Reminders</div>
            </div>
        </ion-scroll>


        <div class="item item-divider padding no-bg no-b bb-grey">
            <div class="row no-padding">
                <div class="col text-grey" ng-click="decrementDate(dateFilter)"><i class="icon ion-ios-arrow-back"></i></div>
                <div class="col text-grey text-center text-small">{{viewDate| amCalendar:referenceTime:formats}}
                </div>
                <div class="col text-grey text-right" ng-click="incrementDate(dateFilter)"><i class="icon ion-ios-arrow-forward"></i></div>
            </div>
        </div>

        <div class="card no-margin no-br" ng-if="seletedDateEvents.length == 0">
            <div class="item item-text-wrap item-icon-left teal lighten-1">
                <i class="icon ion-ionic light"></i>
                <span class="light">No incomplete reminders</span>
            </div>
        </div>

        <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
            <div style="height:700px">
                <div class="card no-margin bb-grey no-br no-box" ng-if="seletedDateEvents.length > 0" ng-repeat="notification in seletedDateEvents | filter: searchFilter | orderBy: 'startsAt':true track by $index">
                    <div class="item item-text-wrap item-icon-left teal lighten-1" ng-click="open[$index] = !open[$index]" on-hold="onCardHold($index, notification);" ng-if="notification.type == 'Add Task'">
                        <i class="icon light ion-ios-checkmark-outline"></i>
                        <span class="light text-medium">{{notification.title}}</span><br/>
                        <span class="light text-smaller justified" ng-if="open[$index] && notification.notes">{{notification.notes}}<br/></span>
                        <span class="text-smaller light">Start's at {{notification.startsAt | date: 'HH:mm a'}}</span>
                        <span class="light text-smaller pull-right" ng-if="open[$index] && !notification.allDay">End's at {{notification.endsAt | date: 'HH:mm a'}}</span>
                        <span class="light text-smaller pull-right" ng-if="open[$index] && notification.allDay">on going for entire day</span>
                    </div>

                    <div class="item item-text-wrap item-icon-left indigo lighten-1" ng-click="open[$index] = !open[$index]" on-hold="onCardHold($index, notification);" ng-if="notification.type == 'Add Event'">
                        <i class="icon light ion-ios-calendar-outline"></i>
                        <span class="light text-medium">{{notification.title}}</span><br/>
                        <span class="light text-small justified" ng-if="open[$index] && notification.notes">{{notification.notes}}<br/></span>
                        <span class="light text-small" ng-if="open[$index] && notification.location"><i class="icon ion-ios-location"></i> {{notification.location}}<br/></span>
                        <span class="text-smaller light">Start's at {{notification.startsAt | date: 'HH:mm a'}}</span>
                        <span class="light text-smaller pull-right" ng-if="open[$index] && !notification.allDay">End's at {{notification.endsAt | date: 'HH:mm a'}}</span>
                        <span class="light text-smaller pull-right" ng-if="open[$index] && notification.allDay">on going for entire day</span>
                    </div>

                    <a href="tel:{{notification.phone}}" class="item item-text-wrap item-icon-left blue lighten-1" ng-if="notification.type == 'Add Call'" on-hold="goTo('tabs.reminder')">
                        <i class="icon light ion-ios-telephone-outline"></i>
                        <span class="light text-medium">{{notification.title}}</span><br/>
                        <span class="text-smaller light">Start's at {{notification.startsAt | date: 'HH:mm a'}}</span>
                    </a>

                    <a href="email:{{notification.email}}" class="item item-text-wrap item-icon-left light blue lighten-1" ng-if="notification.type == 'Add Email'" on-hold="goTo('tabs.reminder')">
                        <i class="icon light ion-ios-at-outline"></i>
                        <span class="light text-medium">{{notification.title}}</span><br/>
                        <span class="text-smaller light">Start's at {{notification.startsAt | date: 'HH:mm a'}}</span>
                    </a>
                </div>
            </div>
        </ion-scroll>
    </ion-content>

    <a class="btn-floating btn-large waves-effect waves-light red" style="position:absolute; bottom:5%; right:42%;" ng-click="reminderPopover.show($event);"><i class="icon ion-plus"></i></a>

</ion-view>