<ion-view hide-nav-bar="true" ng-init="initIntro()" style="background:url('img/intro.jpg') center; background-size: cover;">

    <ion-content padding="true" scroll="false" class="auth">
        <div class="container">
            <div class="text-center"><img src="img/ionic-logo.png" class="text-center" /></div>
            <h2 class="light">Agile Accounting <br/> Your Personal Bookkeeper</h2>

        </div>

        <button class="btn waves-effect waves-light button button-balanced button-outline button-block button-center" ng-click="openLogin()">Login</button>
        <button class="btn waves-effect waves-teal button button-light button-outline button-block" ng-click="openRegister()">Sign Up</button>


    </ion-content>
</ion-view>