<ion-modal-view hide-nav-bar="true" class="forgot">


    <ion-content scroll="false">
        <div ng-form="login_form" class="padding text-center" novalidate>
            <ion-list>
                <label class="item item-input">
                    <i class="icon ion-android-person placeholder-icon"></i>
                    <input type="email" placeholder="Username" ng-model="user.email" required>
                </label>
            </ion-list>
            <button class="button button-balanced button-block waves-effect waves-light" ng-click="gotoHome();">Reset Password</button>
            <p class="">An email will be sent to you with steps to reset your password</p>
        </div>
        <p class="padding-horizontal">
            <span class="balanced pull-left" ng-click="closeForgot();openLogin();">Log in</span>
            <span class="dark pull-right" ng-click="closeForgot()">Close</span>
        </p>
    </ion-content>
</ion-modal-view>